<div class="container-fluid bg-white">
  <router-outlet></router-outlet>
</div>


  <app-scripts-init></app-scripts-init>


<!--end::Main-->
   <!--begin::Offcanvases-->
   <!-- <ng-container *ngIf="extrasSearchOffcanvasDisplay">
    <app-search-offcanvas></app-search-offcanvas>
  </ng-container>

  <ng-container *ngIf="extrasNotificationsOffcanvasDisplay">
    <app-notifications-offcanvas></app-notifications-offcanvas>
  </ng-container>

  <ng-container *ngIf="extrasQuickActionsOffcanvasDisplay">
    <app-quick-actions-offcanvas></app-quick-actions-offcanvas>
  </ng-container>

  <ng-container *ngIf="extrasCartOffcanvasDisplay">
    <app-cart-offcanvas></app-cart-offcanvas>
  </ng-container>

  <ng-container *ngIf="extrasQuickPanelDisplay">
    <app-quick-panel-offcanvas></app-quick-panel-offcanvas>
  </ng-container>

  <ng-container *ngIf="extrasUserOffcanvasDisplay">
    <app-user-offcanvas></app-user-offcanvas>
  </ng-container>

  <app-toolbar></app-toolbar>

  <ng-container *ngIf="extrasScrollTopDisplay">
    <app-scroll-top></app-scroll-top>
  </ng-container> -->
  <!--end::Offcanvases-->